<?xml version="1.0"?>
<launch>
    <node pkg="image_transport" type="republish" name="camera_fr_decompress" output="screen" args="compressed in:=/camera_fr/image_raw out:=/camera_fr/decompressed/image_raw" />
    <node pkg="image_transport" type="republish" name="camera_fl_decompress" output="screen" args="compressed in:=/camera_fl/image_raw out:=/camera_fl/decompressed/image_raw" />
</launch>
