<?xml version="1.0" standalone="no" ?>
<launch>
  <arg name="prefix" default="/media/dev/4tb-data-ssd/OAP4_Testing/oap_test" />
  <node pkg="rosbag" type="record" name="oap_test"
    args="record --lz4 -o $(arg prefix).bag
/accel_cmd
/angular_gravity
/as/arbitrated_speed_commands
/as/arbitrated_steering_commands
/as/brake_command_echo
/as/brake_feedback
/as/curvature_feedback
/as/dbw_enabled_feedback
/as/gear_command_echo
/as/gear_feedback
/as/gear_select
/as/module_states
/as/speed_model_config
/as/speed_pedals
/as/steering_command_echo
/as/steering_feedback
/as/steering_model_config
/as/steering_wheel
/as/throttle_command_echo
/as/throttle_feedback
/as/turn_signal_command
/as/veh_controller_config
/as/veh_interface_config
/as/velocity_accel
/as/velocity_accel_cov
/base_waypoints
/based/lane_waypoints_array
/based/lane_waypoints_raw
/brake_cmd
/camera_fl/camera_info
/camera_fl/camera_info_none
/camera_fl/image_raw
/camera_fl/parameter_descriptions
/camera_fl/parameter_updates
/camera_fl/points_image
/camera_fl/projection_matrix
/can_velocity
/change_flag
/closest_waypoint
/cluster_centroids
/config/decision_maker
/config/lane_rule
/config/lane_select
/config/lane_stop
/config/ndt
/config/ray_ground_filter
/config/twist_filter
/config/velocity_set
/config/voxel_grid_filter
/config/waypoint_follower
/config/waypoint_replanner
/ctrl_cmd
/current_pose
/current_velocity
/decision_maker/available_transition
/decision_maker/operator_help_text
/decision_maker/state
/decision_maker/state_msg
/decision_maker/state_overlay
/detection/lidar_detector/cloud_clusters
/detection/lidar_detector/objects
/detection/lidar_detector/objects_markers
/detection_range
/deviation_of_current_position
/diagnostics
/estimate_twist
/estimated_vel
/estimated_vel_kmph
/estimated_vel_mps
/filtered_points
/final_waypoints
/global_waypoints_mark
/gps/bestpos
/gps/bestvel
/gps/corrimudata
/gps/fix
/gps/gpgga
/gps/gprmc
/gps/gps
/gps/imu
/gps/inscov
/gps/inspva
/gps/insstdev
/green_waypoints_array
/lamp_cmd
/lane_select_marker
/lane_waypoints_array
/light_color
/light_color_managed
/linear_velocity_viz
/local_waypoints_mark
/localizer_pose
/ndt_pose
/ndt_reliability
/ndt_stat
/next_target_mark
/next_waypoint_mark
/node_status
/obstacle_waypoint
/pacmod/as_rx/accel_cmd
/pacmod/as_rx/brake_cmd
/pacmod/as_rx/shift_cmd
/pacmod/as_rx/steer_cmd
/pacmod/as_rx/turn_cmd
/pacmod/as_tx/all_system_statuses
/pacmod/as_tx/enabled
/pacmod/as_tx/vehicle_speed
/pacmod/can_rx
/pacmod/can_tx
/pacmod/parsed_tx/accel_aux_rpt
/pacmod/parsed_tx/accel_rpt
/pacmod/parsed_tx/brake_aux_rpt
/pacmod/parsed_tx/brake_rpt
/pacmod/parsed_tx/component_rpt
/pacmod/parsed_tx/date_time_rpt
/pacmod/parsed_tx/global_rpt
/pacmod/parsed_tx/headlight_rpt
/pacmod/parsed_tx/horn_rpt
/pacmod/parsed_tx/lat_lon_heading_rpt
/pacmod/parsed_tx/shift_aux_rpt
/pacmod/parsed_tx/shift_rpt
/pacmod/parsed_tx/steer_aux_rpt
/pacmod/parsed_tx/steer_rpt
/pacmod/parsed_tx/turn_rpt
/pacmod/parsed_tx/vehicle_speed_rpt
/pacmod/parsed_tx/vin_rpt
/pacmod/parsed_tx/wheel_speed_rpt
/pacmod/parsed_tx/yaw_rate_rpt
/pmap_stat
/points_cluster
/points_downsampler_info
/points_ground
/points_lanes
/points_map
/points_no_ground
/points_raw
/predict_pose
/predict_pose_imu
/predict_pose_imu_odom
/predict_pose_odom
/red_waypoints_array
/roi_signal
/rosout
/rosout_agg
/safety_waypoints
/scan
/search_circle_mark
/sound_player
/steer_cmd
/tf
/tf_static
/time_ndt_matching
/tlr_result
/tlr_roi_image
/traffic_waypoints_array
/trajectory_circle_mark
/twist_cmd
/twist_raw
/vector_map
/vector_map_info/area
/vector_map_info/cross_road
/vector_map_info/dtlane
/vector_map_info/lane
/vector_map_info/line
/vector_map_info/node
/vector_map_info/point
/vector_map_info/road_sign
/vector_map_info/signal
/vector_map_info/stop_line
/vector_map_info/vector
/vector_map_info/white_line
/vehicle/engage
/vehicle/odom
/vehicle/twist
/vehicle_cmd
/vehicle_location
/vehicle_status
/vmap_stat
"
  />
</launch>
