<?xml version="1.0"?>
<launch>

  <!-- Sensor drivers -->
  <include file="$(find autoware_ut)/launch/platform.launch" />

  <!-- points node  -->
  <node pkg="points2image" type="points2image" name="points2image" output="screen" ns="camera_fr" />

  <!-- RViz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find autoware_ut)/config/rviz/calibration_check.rviz" />

</launch>
